<table class="list">
  <tr>
    <th>
      <%= l(:field_login) %></th>
    <th>
      <%= l(:label_plugin_git_field_login) %></th>
    <th>
      <%= l(:label_plugin_git_field_firstname) %></th>
    <th>
      <%= l(:label_plugin_git_field_lastname) %></th>
    <th>
      Соответствует на project.toiit.sgu.ru
    </th>
    <th>
      Логин в project.toiit
    </th>
    <th>
      Имя в project.toiit
    </th>
    <th>
      Фамилия в project.toiit
    </th>
  </tr>
  <% @git_users.each do |user| %>
      <tr class="user <%= cycle("odd", "even") %>">
        <td class="login"><%= avatar(user.user, :size => "14") %><%= user.login %></td>
        <td class="username"><%= h(user.login) %></td>
        <td class="firstname"><%= h(user.firstname) %></td>
        <td class="lastname"><%= h(user.lastname) %></td>
        <td></td>
        <td class="login"><%= user.user.login %></td>
        <td class="firstname"><%= user.user.firstname %></td>
        <td class="lastname"><%= user.user.lastname %></td>
      </tr>
  <% end %>
</table>