<h1><%= l(:label_plugin_git_work_with_you_account) %></h1>

<div class="box">
  <%= render 'shared/error_messages' %>
  <table style="text-align:left">
    <th><%= l(:label_plugin_git_field_login) %></th>
    <td><%= @git_user.login %></td>
  </table>

  <div id="data_for_update_git">
    <table style="text-align:left">
      <tr>
        <th><%= l(:label_plugin_git_field_firstname) %></th>
        <td><%= @git_user.firstname %></td>
      </tr>
      <tr>
        <th><%= l(:label_plugin_git_field_lastname) %></th>
        <td><%= @git_user.lastname %></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="button" value="Изменить имя или фамилию" onclick="load_update()"></td>
      </tr>
    </table>
    <input type="button" value="Создать новый репозиторий" onclick="create_rep()">

    <div id='for_replace_create_rep'></div>
  </div>

  <%= render 'load_key' %>
  <%= render 'user_keys' %>
  <%= render 'user_rep' %>
</div>

<%= javascript_tag "function load_update() {
     $('data_for_update_git').replace(
        '#{((render :partial => 'for_update').delete "\n").strip}');
    };"
%>
<%= javascript_tag "function create_rep() {
     $('for_replace_create_rep').replace(
        '#{((render :partial => 'for_create_rep').delete "\n").strip}');
    };"
%>
